a {
	text-decoration: none;
}

.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - var(--theme__gap-4));
	margin-top: 8rem;
	padding: 0 2rem;
}

.projects__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	width: 100%;
	max-width: 1500px;
	justify-content: center;
}

.projects__card {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(from var(--theme__color-fore) R G B / 30%);
	background: rgb(from var(--theme__color-back) R G B / 50%);
	border-radius: 3px;
	width: 100%; /* Adjust to fit within grid */
	max-width: 500px; /* Prevents stretching */
	height: 500px;
	text-align: center;
	color: var(--theme__color-accent);
	font-size: 2rem;
	user-select: none;
	transform: scale3d(.98, .98, .98);
	transition: all .1s ease-in-out;
}

.projects__card:hover {
	border-color: rgb(from var(--theme__color-fore) R G B / 50%);
	transform: scale3d(1, 1, 1);
}

.projects__technologies {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.projects__technologies > img {
	width: auto;
	height: 50px;
}

.projects__info {
	text-align: center;
	font-size: .9rem;
	color: rgb(from var(--theme__color-fore) R G B / 30%);
}

.disabled {
	cursor: not-allowed;
}

@media only screen and (max-width: 1200px) {
    .projects__container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

@media only screen and (max-width: 800px) {
    .projects {
        margin-top: 6rem; /* Adjust margin for smaller screens */
    }

    .projects__container {
        grid-template-columns: 1fr; /* 1 column on smaller screens */
        width: 100%;
        max-width: 500px; /* Limit width for better centering */
    }

    .projects__card {
        width: 100%; /* Allow flexibility */
        padding: 2rem;
        font-size: 1.5rem;
        gap: 2rem;
    }

    .projects__technologies > img {
        height: 40px; /* Reduce icon size */
    }
}