.contact-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contact-me__email {
	color: var(--accent-color);
	text-decoration: none;
	transition: color .2s ease-in-out;
}

.contact-me__email:hover {
	color: #00ff55
}

.contact-me__socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.contact-me__form-container {
	padding: 2rem 0;
	width: 100%;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.contact-me__socials>a {
	transition: opacity .2s ease-in-out;
	cursor: pointer;
}

.contact-me__socials>a:hover {
	opacity: .5;
}

.form-container {
	width: 100%;
	max-width: 1000px;
	margin: 2rem auto;
	padding: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

input,
textarea {
	width: 100%;
	border: 1px solid transparent;
	border-color: var(--accent-color);
	border-radius: 3px;
	padding: .8rem;
	margin: 0;
	background: var(--bgr);
	transition: all .3s ease-in-out;
	box-sizing: border-box;
	resize: vertical;
	max-height: 60vh;
}

input:focus,
textarea:focus {
	outline: none;
	border-color: #00ff55;
}

textarea {
	height: 15rem;
}

.heading {
	font-weight: 400;
	margin-bottom: 2rem;
}

.form-name-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
	width: 100%;
}

.form__button {
	text-align: center;
	background: var(--bgr);
	width: 100%;
	padding: .5rem 0;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color .3s;
	font-size: 1.5rem;
}

.form__subject,
.form__text {
	width: 100%;
	box-sizing: border-box;
}

.form__subject,
.form__text,
input {
	display: block;
}

.form-fetch-message {
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}