/* #region Intro */
.intro {
	position: relative;
	text-align: center;
	gap: var(--theme__gap-4);
}

.intro__logo {
	width: 15vw;
	margin-bottom: var(--theme__gap-4);
}

.intro__title {
	font-size: 3rem;
}

.intro__arrow-wrapper {
	position: absolute;
	bottom: var(--theme__gap-5);
	outline: none;
}

.intro__arrow {
	width: 1.5rem;
	transition: transform 0.3s ease;
	cursor: pointer;
}

.intro__arrow-wrapper:hover .intro__arrow,
.intro__arrow-wrapper:focus .intro__arrow {
	transform: translate3d(0, 0.5rem, 0);
}

@media only screen and (max-width: 800px) {
	.intro {
		padding: var(--theme__gap-2);
	}

	.intro__logo {
		width: 60vw;
	}

	.intro__title {
		font-size: 2rem;
		line-height: 1.3;
		margin-bottom: var(--theme__gap-2);
	}

	.intro__arrow-wrapper {
		bottom: var(--theme__gap-4);
	}

	.intro__arrow {
		width: 1.5rem;
	}
}
/* #endregion */

/* #region About Me */

.about {
	font-size: 1.5rem;
}

.about__container {
	display: grid;
	grid-template-columns: minmax(min-content, 35vw) 35vw;
	grid-template-rows: repeat(5, auto);
	grid-auto-flow: row;
	gap: var(--theme__gap-3);
}

.about__title {
	font-size: 3rem;
	color: var(--theme__color-accent);
	margin-bottom: var(--theme__gap-4);
}

.about__illustration {
	width: 70%;
	align-self: center;
	justify-self: end;
	grid-area: 1 / 2 / 6 / 3;
}

.about__link {
	margin-top: var(--theme__gap-4);
}

@media only screen and (max-width: 800px) {
	.about__title {
		text-align: center;
		font-size: 2.2rem;
		margin-bottom: var(--theme__gap-2);
	}

	.about__container {
		padding: var(--theme__gap-5);
		text-align: center;
		grid-template-columns: 1fr;
		gap: var(--theme__gap-3);
	}

	.about__illustration {
		display: none;
	}

	.about__link {
		margin-top: var(--theme__gap-2);
		text-align: center;
	}
}

/* #endregion */

/* #region My Work */

.projects {
	font-size: 1.5rem;
}

.projects__container {
	display: grid;
	grid-template-columns: 35vw minmax(min-content, 35vw);
	grid-template-rows: repeat(5, auto);
	grid-auto-flow: row;
	gap: var(--theme__gap-3);
}

.projects__title {
	font-size: 3rem;
	color: var(--theme__color-accent);
	margin-bottom: var(--theme__gap-4);
}

.projects__illustration {
	width: 70%;
	align-self: center;
	justify-self: start;
	grid-area: 1 / 1 / 6 / 2;
}

.projects__link {
	margin-top: var(--theme__gap-4);
}

@media only screen and (max-width: 800px) {
	.projects__title {
		text-align: center;
		font-size: 2.5rem;
		margin-bottom: var(--theme__gap-3);
	}

	.projects__container {
		padding: var(--theme__gap-5);
		text-align: center;
		grid-template-columns: 1fr;
		gap: var(--theme__gap-3);
	}

	.projects__illustration {
		display: none;
	}

	.projects__link {
		margin-top: var(--theme__gap-2);
	}
}

/* #endregion */

/* #region Contact */

.contact {
	font-size: 1.5rem;
}

.contact__container {
	width: 50vw;
	max-width: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(5, auto);
	grid-auto-flow: row;
	gap: var(--theme__gap-2);
}

.contact__title {
	font-size: 3rem;
	color: var(--theme__color-accent);
	margin-bottom: var(--theme__gap-4);
}

.contact__field {
	box-sizing: border-box;
	width: 100%;

	background: transparent;
	outline: none;
	border: 1px solid rgb(from var(--theme__color-fore) R G B / 30%);
	border-radius: 3px;
	padding: var(--theme__gap-3);
	transition: border 0.3s linear;
}

.contact__field--area {
	min-height: 10rem;
	max-height: 30vh;
	resize: vertical;
	margin-top: var(--theme__gap-3);
}

.contact__field:hover {
	border-color: rgb(from var(--theme__color-fore) R G B / 40%);
	transition-duration: 0.1s;
}

.contact__field:focus {
	border-color: var(--theme__color-accent);
}

.contact__title,
.contact__field,
.contact__submit {
	grid-column: 1 / span 2;
}

.contact__hl {
	grid-column: 1 / 2;
}

.contact__hr {
	grid-column: 2 / 3;
}

.contact__socials {
	display: flex;
	flex-flow: row nowrap;
	gap: var(--theme__gap-3);
	margin-top: var(--theme__gap-5);
}

.contact__link {
	text-decoration: none;
	transition: opacity linear;
}

.contact__link:hover {
	opacity: 0.7;
	transition-duration: 0.1s;
}

#contact__message {
	margin: 1rem 0;
	height: 2rem;
	width: 100%;
	text-align: center;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.5s ease, transform 0.5s ease;
	pointer-events: none;
}

#contact__message.visible {
	opacity: 1;
	transform: translateY(0);
}

@media only screen and (max-width: 800px) {
	.contact__container {
		width: 90vw;
		max-width: none;
		display: flex;
		flex-direction: column;
	}

	.contact__title {
		font-size: 2rem;
		text-align: center;
		margin-bottom: var(--theme__gap-3);
	}

	.contact__field,
	.contact__submit {
		width: 100%;
	}

	.contact__socials {
		justify-content: center;
		flex-wrap: wrap;
	}
}

/* #endregion */

/* #region credits */
.icon-credits__container {
	margin: .5rem 0;
	font-size: 1rem;
}

.icon-credits__link {
	text-decoration: none;
	color: var(--theme__color-accent);
	transition: opacity 0.1s linear;
}

.icon-credits__link:hover {
	opacity: 0.7;
}

/* #endregion */