:root {
    --background: #171738;
    --text: #808ec3;
    --border: #3423A6;
    --shadow: #2E1760;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--background);
}

section {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section > * {
    margin: 0;
}

#welcome {
    flex: 1;
}

#welcome h1,
#welcome p {
    margin: 0 0 1rem 0;
}

#image-box {
    border: .1rem solid var(--border);
    border-radius: .5rem;
    box-shadow: 0 2px 5px var(--shadow);
    flex: 1;
    max-width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

#image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeInOut 8s infinite;
}

#image-box img:nth-child(1) {
    animation-delay: 0s;
}

#image-box img:nth-child(2) {
    animation-delay: 2s;
}

#image-box img:nth-child(3) {
    animation-delay: 4s;
}


@keyframes fadeInOut {
    0% { opacity: 0; }
    16.66% { opacity: 1; }
    33.33% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
footer {
    text-align: center;
    margin-top: 2rem;
}
