.contact {
	background: rgb(from var(--theme__color-back) R G B / 30%);
	font-size: 1.5rem;
}

.contact__container {
	width: 50vw;
	max-width: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(5, auto);
	grid-auto-flow: row;
	gap: var(--theme__gap-2);
}

.contact__title {
	font-size: 3rem;
	color: var(--theme__color-accent);
	margin-bottom: var(--theme__gap-4);
}

.contact__field {
	box-sizing: border-box;
	width: 100%;

	background: transparent;
	outline: none;
	border: 1px solid rgb(from var(--theme__color-fore) R G B / 30%);
	border-radius: 3px;
	padding: var(--theme__gap-3);
	transition: border 0.3s linear;
}

.contact__field--area {
	min-height: 10rem;
	max-height: 30vh;
	resize: vertical;
	margin-top: var(--theme__gap-3);
}

.contact__field:hover {
	border-color: rgb(from var(--theme__color-fore) R G B / 40%);
	transition-duration: 0.1s;
}

.contact__field:focus {
	border-color: var(--theme__color-accent);
}

.contact__title,
.contact__field,
.contact__submit {
	grid-column: 1 / span 2;
}

.contact__hl {
	grid-column: 1 / 2;
}

.contact__hr {
	grid-column: 2 / 3;
}

.contact__socials {
	display: flex;
	flex-flow: row nowrap;
	gap: var(--theme__gap-3);
	margin-top: var(--theme__gap-5);
}

.contact__link {
	text-decoration: none;
	transition: opacity 0.3s linear;
}

.contact__link:hover {
	opacity: 0.7;
	transition-duration: 0.1s;
}

#contact__message {
	margin: 1rem 0;
	height: 2rem;
	width: 100%;
	text-align: center;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.5s ease, transform 0.5s ease;
	pointer-events: none;
}

#contact__message.visible {
	opacity: 1;
	transform: translateY(0);
}

/* #region credits */
.icon-credits__container {
	margin: .5rem 0;
	font-size: 1rem;
}

.icon-credits__link {
	text-decoration: none;
	color: var(--theme__color-accent);
	transition: opacity 0.1s linear;
}

.icon-credits__link:hover {
	opacity: 0.7;
}

/* #endregion */