.banner {
	color: var(--theme__color-accent);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.message {
	font-size: 2rem;
}

@media only screen and (max-width: 800px) {
	.banner {
		height: 50vh;
		padding: 0 1rem;
		text-align: center;
	}

	.message {
		font-size: 1.5rem;
	}
}